*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    flex-grow: 1;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/*Header*/
header {
    background-color: #1a1a2e;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-size: 3.5rem;
    margin-left: 43%;
}

nav {
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
    -webkit-animation-delay: 0ms100%;
}

nav a.active {
    background-color: blue;
    color: white;
}

/*</header>*/

/*Content*/

.content {
    height: 90%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    gap: 20px;
}

.content p{
    margin-left: 40px;
    margin-bottom: 20px;
}

.content ul {
    padding-left: 20px; 
    list-style-position: inside; 
}

.content ul li{
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
}

table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border: 1px solid black; 
}

/*Logo UFV*/
.logo {
    display: flex;
    justify-content: center;
}

.logo-icon {
    height: 50px;
    width: 100px;
}
/*</logo>*/



/*About me*/
.content-about {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: grey;
}

.description {
    width: 50%;
    align-items: left;
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

.photo-icon {
    padding-left: 80px;
    width: 500px;
    height: 100%;
}

.curriculum-vitae {
        background-color: #1a1a2e;
        color: white;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 100%;
}

.curriculum-vitae-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    align-items: center;
    color: white;
    background-color: blue;
}

.curriculum-vitae-photo {
    width: 90%;
    border-radius: 50%;
    margin-top: 50%;
    margin-bottom: 20px;
}


.curriculum-contact {
    padding-top: 60px;
    padding-bottom: 20px;
}

.curriculum-information {
    width: 80%;
    padding: 20px;
    background-color: white;
    color: black;
    justify-content: center;
    gap: 20px;
}

.curriculum-information table {
    width: 100%; 
}

.curriculum-information th, td {
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border-color: white;
}

.curriculum-grey {
    color: grey;
    padding-bottom: 40px;
}



/*Contact*/
.contact-forms {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 60%;
    margin-top: 40px;
    font-size: 30px;
    gap: 20px;
    background-color: #1a1a2e;
    color: white;
}

.contact-forms input[type="text"] {
    padding: 8px;
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    margin-bottom: 40px;
}
.contact-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.contact-user input[type="text"] {
    width: 50%; 
    padding: 10px; 
    font-size: 30px; 
}

.contact-name, .contact-username {
    flex: 1;
}

label {
    margin: 5px;
}

.contact-forms textarea {
    width: 80%;
    height: 200px;
    padding: 8px;
    font-size: 30px;
    font-weight: bold; 
}

.contact-forms button {
    margin-left: 40%;
    height: 20px;
    width: 20%;
    background-color: white;
    color: black;
}

/*<contact>*/

/*Degree*/
.title-degree {
    font-size: 3.5rem;
    margin-left: 33%;
}

.container-degree {
    
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.container-degree p {
    padding-left: 20px;
}

.content-degree {
    height: 90%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    gap: 20px;
}

.content-degree table {
    width: 100%; 
    border-collapse: collapse;
}

.content-degree th, td {
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border: 1px solid black; 
}

.content-degree ul {
    padding-left: 20px; 
    list-style-position: inside; 
}

.content-degree ul li{
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
}

/*</Degree>*/

/*Menu*/
.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #1a1a2e;
    padding: 20px 0;
    align-items: center;
}


.footer-section {
    font-size: medium;
    margin-left: 37%;
}

/*Icon*/
.icon {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    gap: 20px;

}

.icon-logo {
    width: 100%;
    height: 50px;

}
/*</Icon>*/

.footer-section a:hover {
    text-decoration: underline;
}
